<h1>Contacto</h1>
<form action="" method="post" class="formulario">
    <p>
        <label for="">Nombre</label>
        <input type="text" name="name" size="30" maxlength="40" />
    </p>
   
    <p>
        <label for="">Email</label>
        <input type="email" name="email" size="30" maxlength="50">
    </p>
   
    <p>
        <label for="">Teléfono</label>
        <input type="text" name="tel" size="15" maxlength="30">
    </p>
    
    <p>
        <label for="">Consulta</label>
        <textarea name="feedBack" WRAP="physical" cols="30" rows="10"></textarea>
    </p>
    <p class="acciones"> <input type="submit" value="Enviar"></p>
</form>