<h1>{{title}}</h1>
<div class="bienvenidos">
    <h2>Bienvenidos</h2>
    <p>Autopartes responde con seriedad y compromiso a las exigencias del sector autopartista, que
        se
        encuentran en constante evoluci&oacuten.</p>
    <p>Nuestra tienda está especializada en la comercializaci&oacuten de toda la línea de repuestos de vehículos
        Chevrolet, Citroen, Fiat, Ford, Peugeot, Renault, Toyota, Volkswagen, y muchas marcas más. </p>

</div>