<h1>Novedades</h1>

<div  style=" text-align:center">
    <p style="color:#FF0000">{{usuario}}
    <a href="/login/logout">Cerrar Sessión</a></p>
</div>

<div class="historia">
    <h2>Hola {{usuario}}!!! </h2>
    <p> Próximamente las novedades </p>
     <p> estarán disponibles.. </p>  
</div>


