<h1>Productos</h1>

<p>Nombre:{{nombre}}</p>


<p>Empresa:{{empresa}}</p>


<p>Tipo Empresa:{{tipoempresa}}</p>

{{#if ri}}
<p>Responsable Inscripto</p>
{{/if}}

{{#unless ri}}
<p>No es Responsable Inscripto</p>
{{/unless}}
