<h1>Servicios</h1>
 <div class="servicio">
           
            <div class="info">
                <h4>Centro de atenci&oacuten telef&oacutenica y chat directo </h4>
                <p>
                <ul>
                    <li>Líneas rotativas y números directos de whatsApp.</li>
                    <li>Personal de atenci&oacuten capacitado.</li>
                    <li>Rapidez, eficacia, servicio y respuestas en el acto.</li>
                
                </ul>
                </p>
            </div>
        </div>
        <div class="servicio">
            
            <div class="info">
                <h4>Cobertura nacional e internacional</h4>
                <p>
                <ul>
                    <li>Equipo de viajantes por zonas.</li>
                    <li>Asesoramiento personalizado a clientes.</li>
                    <li>Informaci&oacuten constante de ofertas y novedades.</li>
                    
                </ul>
                </p>
            </div>
        </div>
        <div class="servicio">
            
            <div class="info">
                <h4>Envíos a todo el país y países limítrofes</h4>
                <p>
                <ul>
                    <li>Gran diferencial en logística.</li>
                    <li>Pedidos despachados en el día.</li>
                   
                    <li>Embalado y envío hacia el transporte o correo sin cargo.</li>
                </ul>
                </p>
            </div>
        </div>
